.mainContainer{
  display: flex;
  justify-content: center;
  color: white;
}

.background{
  height: 35rem;
  width: 100%;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.photoDiv{
  order: 1;
}

.photo{
  border-radius: 50%;
  height: 15rem;
  width: auto;
  margin-top: 5rem;
}

.info{
  order: 2;
  flex-direction: row;
}

.profileButtons{
  display: flex;
  flex-direction: row;
  padding: 1%;
  justify-content: center;
}

.infoButton{
  padding: 2%;
  margin: 2%;
}

@media screen and (min-width: 1000px) {

  .infoButton{
    padding: 1%;
    margin: 1%;
  }
  
}