.mainContainer{
  display: flex;
  justify-content: center;
  color: white;
}

.background{
  height: 35rem;
  width: 100%;
}

.photoDiv{
  order: 1;
}

.photo{
  border-radius: 50%;
  height: 15rem;
  width: auto;
  margin-top: 5rem;
}

.info{
  order: 2;
  flex-direction: row;
}

.profileButtons{
  display: flex;
  flex-direction: row;
  padding: 1%;
  justify-content: center;
}

.infoButton{
  padding: 2%;
  margin: 2%;
}

@media screen and (min-width: 1000px) {

  .infoButton{
    padding: 1%;
    margin: 1%;
  }
  
}