.mainContainer{
  /* display: flex;
  justify-content: center;
  color: white;
  height: 91vh; */

  /* margin-top: 10vh; */
  
}

.background{
  display: flex;
  flex-direction: row;
  padding: 0% 20% 10% 20%;

}

.photoDiv{
  order: 3;
  padding: 5%;
}

.infoText{
  padding: 5%;
}

.photo{
  border-radius: 50%;
  width: auto;
  margin-top: 5rem;
}

.info{
  margin-top: 15vh;
  order: 1;
  text-align: left;
  /* flex-direction: row; */
}

.profileButtons{
  /* display: flex; */
  /* flex-direction: row; */
  padding: 1%;
  justify-content: left;
}

.profileButtons a{
/* font-size: 15px; */
font-weight: bold;
padding: 2vh;
justify-content: left;
}

.infoButton{
  padding: 2%;
  margin: 2%;
}

.snapAboutMe{
text-align: left;
}

.softSkills{
  background-color: rgba(70, 70, 70, 0.2)
}



@media screen and (max-width: 900px) {

  .background{
    flex-direction: column;
    margin: 0;
    padding: 0;
    }

  .infoText{
    order: 2;
    text-align: left;
  }

.photoDiv{
  order: 1;
  padding: 0;
}

.info{
  margin-top: 2vh;
  padding: 1rem;
  text-align: justify;
}

.profileButtons{
justify-content: center;
}

#customNav{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

  
}


@media screen and (min-width: 1000px) {

  .infoButton{
    padding: 1%;
    margin: 1%;
  }

  .photo{
    height: 18rem;
  }
  
}
